# Copy this file to .env and fill in your actual values
# NEVER commit the .env file to GitHub

NEXT_PUBLIC_SUPABASE_URL=https://ytwygebwskydagwnzstw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_FqhPFYoFxxwxbJ_yfNCXOg_VlYXXwFs
